<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400.63 466.84" version="1.1">
  <defs id="defs4">
   <style id="style2">
	   .text-message {fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-opacity:0}
	</style>
  </defs>
  <title
     id="title6">LOGO HUBROOT</title>
  <polygon
     points="269.88 200.31 296.1 200.31 296.1 159.68 269.88 185.99 269.88 200.31"
     id="polygon8"/>
  <polygon
     points="130.75 200.31 104.53 200.31 104.53 159.68 130.75 185.99 130.75 200.31"
    />
  <path
     d="M232.32,307.73H220V267.21h12.35v14.88h25.37V267.21h12.43v40.52H257.69V291.89H232.32Z"
     transform="translate(-219.97 -51.67)" />
  <path
     d="M278.37,267.21h12.35v24c0,2.74.63,4.58,1.87,5.51s4,1.4,8.12,1.4h7q5.19,0,7-1.48t1.77-5.43v-24h12.39v27.87q0,7.16-3.86,10.15t-13.32,3H297.86q-11.14,0-15.31-2.86t-4.18-10.28Z"
     transform="translate(-219.97 -51.67)" />
  <path
     d="M375.29,307.73h-38.4V267.21h36.49q6.81,0,10.15,2.8c2.24,1.87,3.35,4.71,3.35,8.52a9.08,9.08,0,0,1-1.45,5.32,9.47,9.47,0,0,1-4.53,3.25,8.38,8.38,0,0,1,5.6,3q1.77,2.32,1.77,6.7,0,5.75-3.08,8.36T375.29,307.73ZM371,283a3.14,3.14,0,0,0,2.37-.85,3.53,3.53,0,0,0,.81-2.5,3.37,3.37,0,0,0-.88-2.42,3.07,3.07,0,0,0-2.3-.92H349.24V283Zm1.11,15.54a3.26,3.26,0,0,0,2.52-1,4,4,0,0,0,.89-2.77,3.62,3.62,0,0,0-.93-2.6,3.28,3.28,0,0,0-2.48-1H349.24v7.29Z"
     transform="translate(-219.97 -51.67)" />
  <path
     d="M428.28,267.21q9.63,0,13.11,2.85t3.49,10.43q0,5.25-1.55,7.81a7.86,7.86,0,0,1-5.2,3.43,8.72,8.72,0,0,1,4.82,2.69,7.59,7.59,0,0,1,1.6,5v8.3H432.17v-6.18a4,4,0,0,0-1.13-3.29c-.75-.6-2.24-.9-4.45-.9H408.14v10.37H395.73V267.21Zm-.47,10.09H408.14v9.91h19.67a4.34,4.34,0,0,0,3.47-1.16c.67-.77,1-2.16,1-4.17a4.9,4.9,0,0,0-1.06-3.49A4.64,4.64,0,0,0,427.81,277.3Z"
     transform="translate(-219.97 -51.67)" />
  <path
     d="M472.68,308.22a59.81,59.81,0,0,1-10.39-.64,12.79,12.79,0,0,1-5.37-2.19,9.71,9.71,0,0,1-3.37-4.56,22.11,22.11,0,0,1-1-7.47V282.31a25.14,25.14,0,0,1,1-8.05,9.66,9.66,0,0,1,3.37-4.71,13.15,13.15,0,0,1,5.43-2.18,58.76,58.76,0,0,1,10.28-.65h14.56a59.21,59.21,0,0,1,10.32.65,13,13,0,0,1,5.44,2.18,9.81,9.81,0,0,1,3.3,4.68,23.13,23.13,0,0,1,1.05,7.59v11.3a22.9,22.9,0,0,1-1.05,7.6,10,10,0,0,1-3.3,4.67,12.61,12.61,0,0,1-5.39,2.19,60.25,60.25,0,0,1-10.37.64ZM476,298.1h7.86q6.57,0,8.71-1.65c1.44-1.1,2.15-3.13,2.15-6.11V284.6c0-3-.71-5-2.15-6.11s-4.33-1.65-8.71-1.65H476c-4.46,0-7.39.56-8.77,1.66s-2.09,3.21-2.09,6.32v5.63c0,2.92.73,4.93,2.2,6S471.67,298.1,476,298.1Z"
     transform="translate(-219.97 -51.67)" />
  <path
     d="M533.65,308.22a59.86,59.86,0,0,1-10.4-.64,12.75,12.75,0,0,1-5.36-2.19,9.73,9.73,0,0,1-3.38-4.56,22.14,22.14,0,0,1-1-7.47V282.31a25.18,25.18,0,0,1,1-8.05,9.67,9.67,0,0,1,3.38-4.71,13.15,13.15,0,0,1,5.43-2.18,58.63,58.63,0,0,1,10.27-.65h14.56a59.42,59.42,0,0,1,10.33.65,12.92,12.92,0,0,1,5.43,2.18,9.76,9.76,0,0,1,3.31,4.68,23.13,23.13,0,0,1,1,7.59v11.3a22.9,22.9,0,0,1-1,7.6,10,10,0,0,1-3.31,4.67,12.61,12.61,0,0,1-5.39,2.19,60.25,60.25,0,0,1-10.37.64ZM537,298.1h7.86q6.55,0,8.71-1.65c1.43-1.1,2.15-3.13,2.15-6.11V284.6c0-3-.72-5-2.15-6.11s-4.34-1.65-8.71-1.65h-7.92c-4.46,0-7.39.56-8.78,1.66s-2.08,3.21-2.08,6.32v5.63c0,2.92.73,4.93,2.19,6S532.64,298.1,537,298.1Z"
     transform="translate(-219.97 -51.67)"/>
  <path
     d="M601.89,307.73H589.53V277.14H572.58v-9.93h46.27v9.93h-17Z"
     transform="translate(-219.97 -51.67)"/>
  <polygon
     points="272.36 200.31 200.31 200.31 200.31 60.27 272.36 132.6 272.36 200.31"
     id="polygon26" />
  <polygon
     points="128.27 200.31 200.31 200.31 200.31 60.27 128.27 132.6 128.27 200.31"
     id="polygon28" />
  <polygon
     points="322.31 200.31 296.1 200.31 296.1 159.68 322.31 185.99 322.31 200.31" />
  <polygon
     points="78.32 200.31 104.53 200.31 104.53 159.68 78.32 185.99 78.32 200.31"/>
  <polygon
     points="327.7 135.46 296.1 122.03 296.1 81.02 327.7 81.02 327.7 135.46" />
  <polygon
     points="71.23 180.53 51.77 180.53 71.23 161.08 71.23 160.69 71.62 160.69 200.31 31.99 329.01 160.69 329.4 160.69 329.4 161.08 348.86 180.53 329.4 180.53 329.4 200.31 400.63 200.31 200.31 0 0 200.31 71.23 200.31 71.23 180.53"
     id="polygon36"/>
  <polygon
     points="52.31 304.73 59.99 304.73 69.18 304.73 103.8 304.73 116.08 304.73 120.67 304.73 120.67 355.14 163.17 355.14 163.17 304.73 180.04 304.73 180.04 400.57 216.26 400.57 216.26 304.73 224.1 304.73 233.13 304.73 272.61 304.73 280.19 304.73 289.48 304.73 289.48 334.65 332.5 334.65 335.01 332.14 335.01 304.73 351.88 304.73 351.88 315.27 400.63 266.52 71.23 266.52 58.4 266.52 0 266.52 52.31 318.83 52.31 304.73"/>
  <polygon
     points="233.13 434.02 272.61 394.54 272.61 321.6 233.13 321.6 233.13 434.02" />
  <polygon
     points="289.48 377.67 315.63 351.52 289.48 351.52 289.48 377.67" />
  <polygon
     points="120.67 387.19 163.17 429.69 163.17 372.01 120.67 372.01 120.67 387.19"/>
  <polygon
     points="69.18 335.7 103.8 370.32 103.8 321.6 69.18 321.6 69.18 335.7"/>
  <polygon
     points="216.26 417.44 180.04 417.44 180.04 446.56 200.31 466.84 216.26 450.89 216.26 417.44"/>
  <g
     aria-label="COMÉRCIO E REABILITAÇÃO DE IMÓVEIS"
     transform="translate(49.62 291.99)"
     id="text50"
     class="text-message">
    <path
       d="m 0.98386228,-7.3752684 q 0,-2.1156737 0.80632322,-2.9441896 0.8137207,-0.828515 2.8628173,-0.828515 H 5.940161 q 2.0343017,0 2.8554198,0.717553 0.8211182,0.7101566 0.8211182,2.41897 v 0.480835 H 8.3591306 v -0.3032959 q 0,-1.2501709 -0.5104247,-1.7088135 -0.5104248,-0.4586426 -1.9973144,-0.4586426 h -0.850708 q -0.9986572,0 -1.4572998,0.1257569 -0.4512451,0.1183594 -0.754541,0.4068603 -0.3032959,0.2811035 -0.4290527,0.7397461 -0.1183594,0.4512451 -0.1183594,1.6570312 v 3.1365234 q 0,1.1983886 0.1183594,1.6570312 0.1257568,0.4512451 0.4290527,0.7323486 0.3032959,0.288501 0.7323486,0.4142578 0.4364502,0.1183594 1.4794922,0.1183594 h 0.850708 q 1.5238769,0 2.0269042,-0.480835 0.5030273,-0.4808349 0.5030273,-1.8419677 0,-0.2071289 -0.0074,-0.3180908 0,-0.1109619 -0.0074,-0.2071289 H 9.616699 v 0.7249511 q 0,1.8345703 -0.7989258,2.552124 Q 8.0262449,0.13315429 5.940161,0.13315429 H 4.6530028 q -2.0490966,0 -2.8628173,-0.8285156 Q 0.98386228,-1.5238769 0.98386228,-3.6395507 Z"
       id="path862"
       class="text-message" />
    <path
       d="m 16.340991,-10.001367 h -0.680566 q -1.161402,0 -1.642237,0.1257569 -0.480835,0.1257568 -0.828515,0.4216553 -0.325488,0.2811035 -0.458643,0.7619384 -0.133154,0.4734375 -0.133154,1.6348388 v 3.1217285 q 0,1.1540039 0.133154,1.6274413 0.133155,0.4660401 0.458643,0.7471436 0.34768,0.2958984 0.828515,0.4216552 0.480835,0.1257569 1.642237,0.1257569 h 0.680566 q 1.161401,0 1.649634,-0.1257569 0.488232,-0.1257568 0.835913,-0.4216552 0.318091,-0.2737061 0.443848,-0.7323486 0.133154,-0.4586426 0.133154,-1.6422363 v -3.1365234 q 0,-1.1614013 -0.133154,-1.6348388 -0.133155,-0.480835 -0.458643,-0.7619385 -0.340283,-0.2885009 -0.821118,-0.4068603 -0.480835,-0.1257569 -1.649634,-0.1257569 z m -5.000683,2.6260986 q 0,-2.1082763 0.8729,-2.9367916 0.8729,-0.835913 3.099536,-0.835913 h 1.390723 q 2.248828,0 3.106933,0.821118 0.865503,0.8211179 0.865503,2.9515866 v 3.7357177 q 0,2.1156738 -0.880298,2.94418939 -0.8729,0.8285156 -3.092138,0.8285156 h -1.390723 q -2.226636,0 -3.099536,-0.8285156 -0.8729,-0.82851559 -0.8729,-2.94418939 z"
       id="path864"
       class="text-message" />
    <path
       d="m 22.991308,0 v -11.014819 h 2.004712 l 3.772705,9.8164304 3.735718,-9.8164304 h 2.019506 V 0 H 33.310766 V -9.986572 L 29.508471,0 H 28.006787 L 24.204492,-9.986572 V 0 Z"
       id="path866"
       class="text-message" />
    <path
       d="m 37.194435,0 v -11.014819 h 7.730347 v 1.1687987 h -6.517163 v 3.6025634 h 6.332226 v 1.1244141 h -6.332226 v 3.9650389 h 6.517163 V 0 Z m 3.84668,-11.969091 h -0.680567 l 1.54607,-2.574317 h 1.124414 z"
       id="path868"
       class="text-message" />
    <path
       d="m 51.597289,-9.8460203 h -3.513794 v 4.4088866 h 3.513794 q 1.375928,0 1.797583,-0.3402831 0.429053,-0.3402832 0.429053,-1.2205811 V -8.285156 q 0,-0.8950928 -0.414258,-1.2279785 -0.40686,-0.3328858 -1.812378,-0.3328858 z M 46.870312,0 v -11.014819 h 4.971093 q 1.856763,0 2.552124,0.554809 0.702759,0.5474126 0.702759,1.9603276 v 1.6644287 q 0,0.8655029 -0.355078,1.3611327 -0.347681,0.4882325 -1.065234,0.6139893 0.78413,0.1849365 1.102221,0.6731689 0.318091,0.4882324 0.318091,1.5386719 V 0 h -1.272363 v -2.2710205 q 0,-1.1835937 -0.377271,-1.5978515 -0.369873,-0.4216552 -1.457299,-0.4216552 h -3.90586 V 0 Z"
       id="path870"
       class="text-message" />
    <path
       d="m 57.115794,-7.3752684 q 0,-2.1156737 0.806323,-2.9441896 0.81372,-0.828515 2.862817,-0.828515 h 1.287158 q 2.034302,0 2.85542,0.717553 0.821118,0.7101566 0.821118,2.41897 v 0.480835 h -1.257568 v -0.3032959 q 0,-1.2501709 -0.510425,-1.7088135 -0.510425,-0.4586426 -1.997314,-0.4586426 h -0.850708 q -0.998657,0 -1.4573,0.1257569 -0.451245,0.1183594 -0.754541,0.4068603 -0.303296,0.2811035 -0.429053,0.7397461 -0.118359,0.4512451 -0.118359,1.6570312 v 3.1365234 q 0,1.1983886 0.118359,1.6570312 0.125757,0.4512451 0.429053,0.7323486 0.303296,0.288501 0.732349,0.4142578 0.43645,0.1183594 1.479492,0.1183594 h 0.850708 q 1.523877,0 2.026904,-0.480835 0.503027,-0.4808349 0.503027,-1.8419677 0,-0.2071289 -0.0074,-0.3180908 0,-0.1109619 -0.0074,-0.2071289 h 1.250171 v 0.7249511 q 0,1.8345703 -0.798925,2.552124 -0.791529,0.71755369 -2.877613,0.71755369 h -1.287158 q -2.049097,0 -2.862817,-0.8285156 -0.806323,-0.82851559 -0.806323,-2.94418939 z"
       id="path872"
       class="text-message" />
    <path
       d="m 67.819923,0 v -11.014819 h 1.227979 V 0 Z"
       id="path874"
       class="text-message" />
    <path
       d="m 76.378779,-10.001367 h -0.680566 q -1.161401,0 -1.642236,0.1257569 -0.480835,0.1257568 -0.828516,0.4216553 -0.325488,0.2811035 -0.458642,0.7619384 -0.133155,0.4734375 -0.133155,1.6348388 v 3.1217285 q 0,1.1540039 0.133155,1.6274413 0.133154,0.4660401 0.458642,0.7471436 0.347681,0.2958984 0.828516,0.4216552 0.480835,0.1257569 1.642236,0.1257569 h 0.680566 q 1.161402,0 1.649634,-0.1257569 0.488233,-0.1257568 0.835913,-0.4216552 0.318091,-0.2737061 0.443848,-0.7323486 0.133154,-0.4586426 0.133154,-1.6422363 v -3.1365234 q 0,-1.1614013 -0.133154,-1.6348388 -0.133154,-0.480835 -0.458643,-0.7619385 -0.340283,-0.2885009 -0.821118,-0.4068603 -0.480835,-0.1257569 -1.649634,-0.1257569 z m -5.000683,2.6260986 q 0,-2.1082763 0.8729,-2.9367916 0.872901,-0.835913 3.099536,-0.835913 h 1.390723 q 2.248828,0 3.106934,0.821118 0.865502,0.8211179 0.865502,2.9515866 v 3.7357177 q 0,2.1156738 -0.880297,2.94418939 -0.872901,0.8285156 -3.092139,0.8285156 h -1.390723 q -2.226635,0 -3.099536,-0.8285156 -0.8729,-0.82851559 -0.8729,-2.94418939 z"
       id="path876"
       class="text-message" />
    <path
       d="m 88.14814,0 v -11.014819 h 7.730346 v 1.1687987 h -6.517163 v 3.6025634 h 6.332227 v 1.1244141 h -6.332227 v 3.9650389 h 6.517163 V 0 Z"
       id="path878"
       class="text-message" />
    <path
       d="m 107.67004,-9.8460203 h -3.51379 v 4.4088866 h 3.51379 q 1.37593,0 1.79758,-0.3402831 0.42905,-0.3402832 0.42905,-1.2205811 V -8.285156 q 0,-0.8950928 -0.41425,-1.2279785 -0.40686,-0.3328858 -1.81238,-0.3328858 z M 102.94306,0 v -11.014819 h 4.9711 q 1.85676,0 2.55212,0.554809 0.70276,0.5474126 0.70276,1.9603276 v 1.6644287 q 0,0.8655029 -0.35508,1.3611327 -0.34768,0.4882325 -1.06523,0.6139893 0.78413,0.1849365 1.10222,0.6731689 0.31809,0.4882324 0.31809,1.5386719 V 0 h -1.27237 v -2.2710205 q 0,-1.1835937 -0.37727,-1.5978515 -0.36987,-0.4216552 -1.4573,-0.4216552 h -3.90585 V 0 Z"
       id="path880"
       class="text-message" />
    <path
       d="m 113.53622,0 v -11.014819 h 7.73035 v 1.1687987 h -6.51716 v 3.6025634 h 6.33222 v 1.1244141 h -6.33222 v 3.9650389 h 6.51716 V 0 Z"
       id="path882"
       class="text-message" />
    <path
       d="m 124.74338,-3.9058593 h 4.77136 l -2.19704,-5.940161 h -0.39207 z M 122.0507,0 l 4.06861,-11.014819 h 2.00471 L 132.21481,0 h -1.25756 l -1.05044,-2.8184325 h -5.57029 L 123.30827,0 Z"
       id="path884"
       class="text-message" />
    <path
       d="m 134.91488,-6.2582518 h 3.97244 q 0.96907,0 1.30195,-0.3476807 0.33289,-0.3476806 0.33289,-1.5312743 0,-1.1318115 -0.35508,-1.4203125 -0.35508,-0.288501 -1.81238,-0.288501 h -3.43982 z m 0,5.1042479 h 4.01682 q 1.09483,0 1.4721,-0.3328857 0.37727,-0.3402832 0.37727,-1.7531982 0,-1.1909912 -0.42166,-1.5386718 -0.42165,-0.3550782 -2.18964,-0.3550782 h -3.25489 z M 133.71649,0 v -11.014819 h 5.12645 q 1.77539,0 2.35239,0.540015 0.5844,0.5400142 0.5844,2.2044429 0,1.2797607 -0.2885,1.7975829 -0.28111,0.5104248 -0.99866,0.7027588 0.8729,0.2219238 1.21318,0.7915283 0.34768,0.562207 0.34768,1.9011474 0,1.8197754 -0.71755,2.44855954 Q 140.61833,0 138.45827,0 Z"
       id="path886"
       class="text-message" />
    <path
       d="m 144.30966,0 v -11.014819 h 1.22798 V 0 Z"
       id="path888"
       class="text-message" />
    <path
       d="m 148.21553,0 v -11.014819 h 1.19839 v 9.8608151 h 6.24346 V 0 Z"
       id="path890"
       class="text-message" />
    <path
       d="M 157.27002,0 V -11.014819 H 158.498 V 0 Z"
       id="path892"
       class="text-message" />
    <path
       d="m 159.67419,-9.8460203 v -1.1687987 h 8.24817 v 1.1687987 h -3.52119 V 0 h -1.22059 v -9.8460203 z"
       id="path894"
       class="text-message" />
    <path
       d="m 169.36486,-3.9058593 h 4.77136 l -2.19704,-5.940161 h -0.39207 z M 166.67219,0 l 4.0686,-11.014819 h 2.00471 L 176.8363,0 h -1.25757 l -1.05044,-2.8184325 H 168.958 L 167.92975,0 Z"
       id="path896"
       class="text-message" />
    <path
       d="m 177.96071,-7.3752684 q 0,-2.1156737 0.80633,-2.9441896 0.81372,-0.828515 2.86282,-0.828515 h 1.28715 q 2.03431,0 2.85542,0.717553 0.82112,0.7101566 0.82112,2.41897 v 0.480835 h -1.25757 v -0.3032959 q 0,-1.2501709 -0.51042,-1.7088135 -0.51043,-0.4586426 -1.99732,-0.4586426 h -0.8507 q -0.99866,0 -1.4573,0.1257569 -0.45125,0.1183594 -0.75454,0.4068603 -0.3033,0.2811035 -0.42906,0.7397461 -0.11836,0.4512451 -0.11836,1.6570312 v 3.1365234 q 0,1.1983886 0.11836,1.6570312 0.12576,0.4512451 0.42906,0.7323486 0.30329,0.288501 0.73234,0.4142578 0.43645,0.1183594 1.4795,0.1183594 h 0.8507 q 1.52388,0 2.02691,-0.480835 0.50303,-0.4808349 0.50303,-1.8419677 0,-0.2071289 -0.007,-0.3180908 0,-0.1109619 -0.007,-0.2071289 h 1.25017 v 0.7249511 q 0,1.8345703 -0.79892,2.552124 -0.79153,0.71755369 -2.87762,0.71755369 h -1.28715 q -2.0491,0 -2.86282,-0.8285156 -0.80633,-0.82851559 -0.80633,-2.94418939 z M 182.41399,0 v 0.85070799 h 0.47343 q 0.70276,0 0.90989,0.19973141 0.20713,0.1997315 0.20713,1.0134521 0,0.8950928 -0.19973,1.1096192 -0.19234,0.2219238 -0.90249,0.2219238 h -1.95293 V 2.7444579 h 1.57566 q 0.39206,0 0.48083,-0.1035644 0.0888,-0.1035645 0.0888,-0.6139893 0,-0.4512451 -0.0814,-0.562207 -0.074,-0.1035644 -0.50303,-0.1035644 h -0.577 V 0 Z"
       id="path898"
       class="text-message" />
    <path
       d="m 190.19612,-3.9058593 h 4.77136 l -2.19705,-5.940161 h -0.39206 z M 187.50344,0 l 4.0686,-11.014819 h 2.00471 L 197.66755,0 h -1.25757 l -1.05044,-2.8184325 h -5.57029 L 188.76101,0 Z m 7.21252,-13.907226 q -0.19233,0.665771 -0.54741,0.998657 -0.35508,0.332886 -0.8655,0.332886 -0.10357,0 -0.22932,-0.01479 -0.11836,-0.02219 -0.25891,-0.05918 l -0.70276,-0.207129 q -0.13316,-0.04439 -0.22193,-0.05918 -0.0888,-0.02219 -0.17754,-0.02219 -0.20712,0 -0.38466,0.140552 -0.17754,0.140552 -0.2959,0.392065 h -0.5918 q 0.16275,-0.643579 0.53262,-0.983862 0.36987,-0.347681 0.90989,-0.347681 0.11836,0 0.21452,0.0148 0.0962,0.01479 0.17754,0.04438 l 0.71756,0.229321 q 0.0888,0.02959 0.19973,0.05178 0.11096,0.02219 0.20713,0.02219 0.25151,0 0.42165,-0.125757 0.17754,-0.133154 0.2885,-0.40686 z"
       id="path900"
       class="text-message" />
    <path
       d="m 203.79265,-10.001367 h -0.68057 q -1.1614,0 -1.64223,0.1257569 -0.48084,0.1257568 -0.82852,0.4216553 -0.32549,0.2811035 -0.45864,0.7619384 -0.13315,0.4734375 -0.13315,1.6348388 v 3.1217285 q 0,1.1540039 0.13315,1.6274413 0.13315,0.4660401 0.45864,0.7471436 0.34768,0.2958984 0.82852,0.4216552 0.48083,0.1257569 1.64223,0.1257569 h 0.68057 q 1.1614,0 1.64963,-0.1257569 0.48824,-0.1257568 0.83592,-0.4216552 0.31809,-0.2737061 0.44385,-0.7323486 0.13315,-0.4586426 0.13315,-1.6422363 v -3.1365234 q 0,-1.1614013 -0.13315,-1.6348388 -0.13316,-0.480835 -0.45865,-0.7619385 -0.34028,-0.2885009 -0.82112,-0.4068603 -0.48083,-0.1257569 -1.64963,-0.1257569 z m -5.00068,2.6260986 q 0,-2.1082763 0.8729,-2.9367916 0.8729,-0.835913 3.09953,-0.835913 h 1.39073 q 2.24882,0 3.10693,0.821118 0.8655,0.8211179 0.8655,2.9515866 v 3.7357177 q 0,2.1156738 -0.88029,2.94418939 -0.8729,0.8285156 -3.09214,0.8285156 h -1.39073 q -2.22663,0 -3.09953,-0.8285156 -0.8729,-0.82851559 -0.8729,-2.94418939 z"
       id="path902"
       class="text-message" />
    <path
       d="m 215.56201,0 v -11.014819 h 5.31878 q 2.07128,0 2.9072,0.821118 0.83591,0.8211182 0.83591,2.8628174 v 3.6321532 q 0,2.0490967 -0.84331,2.87761226 Q 222.94468,0 220.88079,0 Z m 1.21319,-1.0874267 h 3.90585 q 1.59046,0 2.13047,-0.5400147 0.54002,-0.5400146 0.54002,-2.0564941 v -3.5581786 q 0,-1.5978515 -0.54002,-2.1378661 -0.53261,-0.5400147 -2.13047,-0.5400147 h -3.90585 z"
       id="path904"
       class="text-message" />
    <path
       d="m 226.9245,0 v -11.014819 h 7.73035 v 1.1687987 h -6.51717 v 3.6025634 h 6.33223 v 1.1244141 h -6.33223 v 3.9650389 h 6.51717 V 0 Z"
       id="path906"
       class="text-message" />
    <path
       d="m 241.71942,0 v -11.014819 h 1.22798 V 0 Z"
       id="path908"
       class="text-message" />
    <path
       d="M 245.62529,0 V -11.014819 H 247.63 l 3.77271,9.8164304 3.73571,-9.8164304 h 2.01951 V 0 h -1.21318 V -9.986572 L 252.14245,0 h -1.50168 l -3.8023,-9.986572 V 0 Z"
       id="path910"
       class="text-message" />
    <path
       d="m 264.4814,-10.001367 h -0.68056 q -1.16141,0 -1.64224,0.1257569 -0.48084,0.1257568 -0.82852,0.4216553 -0.32548,0.2811035 -0.45864,0.7619384 -0.13315,0.4734375 -0.13315,1.6348388 v 3.1217285 q 0,1.1540039 0.13315,1.6274413 0.13316,0.4660401 0.45864,0.7471436 0.34768,0.2958984 0.82852,0.4216552 0.48083,0.1257569 1.64224,0.1257569 h 0.68056 q 1.1614,0 1.64964,-0.1257569 0.48823,-0.1257568 0.83591,-0.4216552 0.31809,-0.2737061 0.44385,-0.7323486 0.13315,-0.4586426 0.13315,-1.6422363 v -3.1365234 q 0,-1.1614013 -0.13315,-1.6348388 -0.13316,-0.480835 -0.45865,-0.7619385 -0.34028,-0.2885009 -0.82111,-0.4068603 -0.48084,-0.1257569 -1.64964,-0.1257569 z m -5.00068,2.6260986 q 0,-2.1082763 0.8729,-2.9367916 0.8729,-0.835913 3.09954,-0.835913 h 1.39072 q 2.24883,0 3.10693,0.821118 0.8655,0.8211179 0.8655,2.9515866 v 3.7357177 q 0,2.1156738 -0.88029,2.94418939 -0.8729,0.8285156 -3.09214,0.8285156 h -1.39072 q -2.22664,0 -3.09954,-0.8285156 -0.8729,-0.82851559 -0.8729,-2.94418939 z m 4.42368,-4.5938226 h -0.68057 l 1.54607,-2.574317 h 1.12442 z"
       id="path912"
       class="text-message" />
    <path
       d="m 269.815,-11.014819 h 1.30195 l 3.51379,9.87561 3.52859,-9.87561 h 1.29456 L 275.42227,0 h -1.57566 z"
       id="path914"
       class="text-message" />
    <path
       d="m 280.98514,0 v -11.014819 h 7.73034 v 1.1687987 h -6.51716 v 3.6025634 h 6.33223 v 1.1244141 h -6.33223 v 3.9650389 h 6.51716 V 0 Z"
       id="path916"
       class="text-message" />
    <path
       d="m 290.66104,0 v -11.014819 h 1.22798 V 0 Z"
       id="path918"
       class="text-message" />
    <path
       d="m 294.2636,-3.5877685 h 1.22798 v 0.2071289 q 0,0.9838623 0.14795,1.4499023 0.14795,0.4660401 0.48823,0.6583741 0.26631,0.1479492 0.82112,0.2145263 0.55481,0.0591797 2.28581,0.0591797 0.93948,0 1.4573,-0.1183594 0.51782,-0.1257568 0.76934,-0.3994629 0.14055,-0.1479492 0.20713,-0.5030273 0.0666,-0.3550781 0.0666,-0.9616699 0,-1.2279785 -0.25151,-1.5386718 -0.24412,-0.3180908 -0.97646,-0.3772705 l -3.39544,-0.2663086 q -1.52388,-0.1183594 -2.10828,-0.7619385 -0.58439,-0.643579 -0.58439,-2.167456 0,-0.9616699 0.19233,-1.5460693 0.19233,-0.5843996 0.62139,-0.9690676 0.33288,-0.295898 0.93208,-0.414258 0.59919,-0.125756 2.11567,-0.125756 h 0.39207 q 1.69401,0 2.38198,0.162744 0.69536,0.162744 1.1614,0.562207 0.31809,0.266308 0.46604,0.7619383 0.15535,0.4882324 0.15535,1.220581 0,0.2145263 -0.007,0.3328857 0,0.1109619 -0.007,0.1997315 h -1.22798 v -0.2737061 q 0,-0.6065918 -0.074,-0.9246826 -0.0666,-0.3254883 -0.22193,-0.4808349 -0.22932,-0.2293213 -0.82111,-0.3180908 -0.5844,-0.096167 -2.22664,-0.096167 -1.70142,0 -2.13787,0.384668 -0.43645,0.384668 -0.43645,1.5386719 0,0.9468749 0.28111,1.3093505 0.2885,0.3550781 1.10222,0.4216553 l 3.46201,0.2885009 q 1.36113,0.1183594 1.90855,0.754541 0.54741,0.6287842 0.54741,2.1082764 0,1.0800292 -0.14055,1.6274413 -0.14056,0.5400147 -0.46604,0.90249023 -0.39947,0.45124511 -1.08003,0.63618163 -0.67317,0.17753906 -2.46336,0.17753906 h -0.54741 q -1.52388,0 -2.16006,-0.15534668 -0.62878,-0.15534668 -1.05044,-0.54001464 -0.41426,-0.35507811 -0.61399,-0.9616699 -0.19233,-0.6065918 -0.19233,-1.5386718 z"
       id="path920"
       class="text-message" />
  </g>
</svg>
