@include media-query(null, $screen-md) {
    .slide-show {
        .slide {
            .gallery-image-text {
                p{
                    font-size: 1.5rem;
                    img {
                        height: 120px;
                        filter: drop-shadow(0px 0px 30px #FFF);
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}
.slide-show {
    .slide {        
        &.slick-active {
            .gallery-image-text {
                p {
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }

        .gallery-image-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 10px 20px;
            line-height: 1;
            p {
                font-size: 2.5rem;
                font-weight: 700;
                margin-bottom: 5px;
                text-align: center;
                transition: all cubic-bezier(0.4, 0, 1, 1) 200ms;
                transition-delay: 400ms;
                text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
                opacity: 0;
                transform: scale(0);
                color: $gold;
                &:first-child {
                    color: #616160;
                    transition-delay: 100ms;
                }
                img {
                    height: 120px;
                    filter: drop-shadow(0px 0px 30px #FFF);
                    margin-bottom: 20px;
                }
                &.slide-description {
                    background-color: rgba(214, 214, 214, 0.78);
                    padding: 5px 10px;
                    box-shadow: 2px 1px 3px 0 rgba(0, 0, 0, 0.2);
                }
            }
        }
    }
}


