$enable-rounded:    false !default;

@import "node_modules/font-awesome/scss/font-awesome";

@import "variables";
@import "carousel";

@import "cookieconsent.min.css";

@import "overrides";


@font-face {
    font-family: 'hubroot';
    src: url('../fonts/hubroot.eot');
    src: url('../fonts/hubroot.eot?#iefix') format('embedded-opentype'),
         url('../fonts/hubroot.woff') format('woff'),
         url('../fonts/hubroot.ttf') format('truetype'),
         url('../fonts/hubroot.svg#hubroot') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='icon-hubroot']:before{
	display: inline-block;
   font-family: 'hubroot';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}
.icon-hubroot-leters:before{content:'\0041';}


body {
    font-family: 'roboto', 'Quicksand', sans-serif;
    color: #3f3f3f;
}

.flex-fill {
    -ms-flex: 1 1 auto!important;
    flex: 1 1 auto!important;
}
.flex-grow-1 {
    -ms-flex-positive: 1!important;
    flex-grow: 1!important;
}

.flex-grow-0 {
    -ms-flex-positive: 0!important;
    flex-grow: 0!important;
}

.flex-shrink-0 {
    -ms-flex-negative: 0!important;
    flex-shrink: 0!important;
}

.flex-shrink-1 {
    -ms-flex-negative: 1!important;
    flex-shrink: 1!important;
}

.form-control{
    border-radius: 0;
}
.w-20 {
    width: 20% !important
}

.box-shadow {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}

.border-radius {
    border-radius: 4px;
}

.ql-editor {
    padding: 0;
}

.portlet-asset-publisher {
    .lfr-meta-actions-wrapper {
        position: absolute;
        width: 100%;
        text-align: right;
        .asset-actions {
            display: inline-block;
            position: relative;
            cursor: pointer;
        }
    }
}

@each $color-key, $color-value in $colors {
    .color-#{$color-key} { 
        color: #{$color-value}!important;
    }
    
}
@each $key, $color-value in $btn-colors {
    @each $tone-key, $tone-value in $color-value {
        .btn-#{$key}{
            @if $tone-key == back {
                background: #{$tone-value};
                border: #{$tone-value}; 
            } @else {
                color: #{$tone-value};
            }
        }
        .btn-#{$key}:hover{
            @if $tone-key == back {
                background: #{$tone-value};
                border: #{$tone-value}; 
            } @else {
                color: #{$tone-value};
            }
        }
        .btn-outline-#{$key}{
            @if $tone-key == back {
                background: #FFF;
                border: 1px solid #{$tone-value};
                color: #{$tone-value};
            } 
        }
        .btn-outline-#{$key}:hover{
            @if $tone-key == back {
                background: #{$tone-value};
                border: 1px solid #{$tone-value};
            } @else {
                color: #{$tone-value};
            }
        }
    }
}

#wrapper {
    padding: 0;
}
#footer {
    // border-top: 1px solid $separator-border-color;
    margin-top: 60px;
    // padding: 40px 0;
    // padding-bottom: 0;
}

.footer-logo {
    height: 80px;
    img, svg {
        height: 100%;
        fill: $hubroot-grey;
    }
}

#heading{
    position: relative;
}

.btn {
    border-radius: 0;
}

.btn-clear {
    padding: 2px;
    line-height: 1;
    background: none;
    border: none; 
}

.box-shadow {
    box-shadow: $box-shadow;
}

a {
    color: inherit;
    &:hover {
        color: inherit;
    }
}

.dbymodal {
    display: none!important;
    &.show {
        display: flex!important;
        .modal-dialog {
            .modal-body {
                min-width: 300px;
            }
        }
    }
    
}

.paragraph-tick {
    height: 5px;
    background-color: $hubroot-blue;
    width: 80px;
    margin-bottom: 5px;
}

.portlet-with-tick {
    .portlet-body {
        padding-top: 15px;
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 5px;
            background-color: $hubroot-blue;
            width: 80px;
            margin-bottom: 5px;
        }
    }
}
.portlet-with-tick-gold {
    .portlet-body {
        padding-top: 15px;
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 5px;
            background-color: $gold;
            width: 80px;
            margin-bottom: 5px;
        }
    }
}


.paragraph-with-tick::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    background-color: $hubroot-blue;
    width: 80px;
    margin-bottom: 5px;
}

.site-title {
    font-size: 26px;
    white-space: nowrap;
    position: relative;
}

.logo {
    height: 90px;
    img {
        height: 100%;
    }
}

header {
    .nav-item {
        margin-right: 10px;
        a.nav-link {
            text-transform: uppercase;
            font-weight: 400;
            border-bottom: 2px solid transparent;
            transition: all 300ms;
            background: none!important;
            padding: 5px;
            font-size: 0.9rem;
            outline-color: transparent;
        }
        &:hover {
            a.nav-link {
                color: #999;
                border-bottom: 2px solid $selected-color;
            }
        }
        &:last-child {
            margin-right: 0;
        }
        &.selected {
            a.nav-link {
                color: #999;
                border-bottom: 2px solid $selected-color;
            }
        }
    }
}

#mobile-nav-button {
    width: 25px;
    height: 24px;
    float: right;
    margin-top: -12px;
    display: block;
    position: absolute;
    top: 50%;
    left: 20px;
}
#mobile-nav-icon {
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    span {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background-color: #111;
        border-radius: 2px;
        opacity: 1;
        left: 0;
        border-radius: 2px;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
    }
    span:nth-child(1) {
        top: 0;
    }
    span:nth-child(2), span:nth-child(3) {
        top: 8px;
    }
    span:nth-child(4) {
        top: 16px;
    }
}

.navigation {
   .site-name, .close-navigation {
       display: none;
   } 
}

.banner-wrapper {
    padding: 0;
    .row {
        margin: 0;
        .portlet-column {
            padding: 0;
            .empty {
                border-top: 1px solid #ccc;
            }
        }
    }
}


.content-info {
    // background-color: rgb(158, 204, 211);
    // background-color: rgb(97, 97, 96);
    background-color: $hubroot-blue;
    font-size: 0.8rem;
    color: #FFF;
}
.company-info {
    background-color: #f9f9f9;
    border-top: 1px solid #edeef2;
    

   // background-color: $hubroot-blue;
    // color: #FFF;
    .nav-social {
        display: inline-block;
        ul li a {
            font-size: 1.5rem;
        }
    }
    .company-info-contact {
        i {
            // color: $gold;
        }
    }
}

.contact-buttons {
    text-align: center;
    .send-button {
        color: #fff;
        background-color: #0099a2;
        border-color: #0099a2;        
        :hover {
            color: #fff;
            background-color: #0099a2;
            border-color: #0099a2;
        }
    }
}

// .block-links {
//     position: relative;
//     text-align: center;
//     margin: 0 -20px;
//     &.height-350{
//         .link-image {
//             height: 350px;
//             img {
//                 width: 100%;
//                 height: 100%;
//             }
//         }
//     }
//     .link-wrapper {
//         position: relative;
//         .block-link {
//             transition: all 200ms;
//             position: relative;
//             display: block;
//             overflow: hidden;
//         }    
//         .link-image {
//             display: block;
//             background-size: cover;
//             background-repeat: no-repeat;
//             position: relative;
//             background-position: unset;
//             img {
//                 width: 100%;
//             }
//         }
//         .link-name {
//             display: inline-block;
//             color: inherit;

//             font-size: 1.5rem;
//             font-weight: 400;
//             margin-top: 10px;
//             text-decoration: none !important;
//             border-bottom: 1px solid #000;
//         }
//         .link-description {

//         }
//     }
// }

#overlay, .shadow-overlay {
    display: none;   
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    z-index: 998;
    top: 0;
    left: 0;
}

.portlet-asset-publisher {
    .asset-actions {
        background-color: #fd0;
        border-radius: 50%;
        box-shadow: 2px 3px 5px 0 rgba(0,0,0,0.5);
        padding-top: 0;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 2;
    }
}

#mobile-nav-button {
    display: none
}

.menu-social {
    display: block;
}

.nav-social {
    text-align: center;
    font-size: 1.7rem;
    ul {
        display: inline-block;
        margin: 0;
        padding: 0;
        list-style-type: none;
        li {
            list-style-type: none;
            display: inline-block;
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 10px;
            padding-right: 0;
            a {
                display: block;
                text-align: center;
                color: #999;
            }
        }
    }
}

.property-details {
    .property-location-map {
        border: 1px solid transparent;
        min-height: 400px;
        width: 100%;
    }
    .property-sold {
        color: #FFF;
        font-size: 1.3rem;
        background-color: #aa6c01;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
        padding: 5px 15px;
        line-height: 1;
    }
    .property-price {
        color: $gold;
        font-size: 0;
        div {
            font-size: 1.75rem;
        }
        .property-price-negociable {
            font-size: 0.8rem;
        }
        .property-price-reserved {
            color: $hubroot-green;
            font-size: 1.2rem;
        }
    }
    .property-details-section-title {
        width: 100%;
        background: #eee;
        padding: 8px 10px 6px;
        // text-transform: uppercase;
        font-weight: 400;
        margin: 0;
        i {
            color: $gold;
        }
    }
    .property-details-section {
        i {
            color: $gold;
        }
    }
}

.property {
    position: relative;
    border: 1px solid #dedede;
    transition: all 200ms;
    border-radius: 4px;
    overflow: hidden;
    .property-sold {
        color: #FFF;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 1.1rem;
        z-index: 1;
        background-color: $gold;
        box-shadow: $box-shadow;
        padding: 3px 10px;
        line-height: 1;
    }

    .property-image {
        .slide {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: center!important;
            justify-content: center!important;
            overflow: hidden;
            background-color: #FFF;
        }
        img {
            height: 100%;
        }
    }
    .property-info  {
        height: 25px;
    }
    .property-title {
        height: 55px;
    }
    .property-details {

    }
    .property-description {
        height: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .property-info {
        // font-size: 1.2rem;
        i {
            margin-right: 5px;
        }
    }
}

@include media-query($screen-sm) {
    .site-title {
        font-size: 36px;
    }
    .menu-social {
        display: none;
    }
    .nav-social {
        font-size: 1.2rem;
    }
    .banner-wrapper {
        .row .portlet-column .empty {
            margin-bottom: 20px;
        }
    }
    
    
}
@include media-query(null, $screen-sm) {
    .logo {
        height: 60px;
    }
}
@include media-query(null, $screen-sm) {
    .container-sm-fluid {
        max-width: none;
    }
    #mobile-nav-button {
        display: block
    }
    .menu-on {
        .navigation {
            left: 0;
        }
        #overlay {
            display: block
        }
    }
    .navigation {
        padding: 20px 0;
        position: fixed;
        z-index: 999;
        background-color: #fff;
        top: 0;
        left: -100%;
        transition: all 400ms;
        height: 100%;
        width: 80%;
        box-shadow: 10px 0 12px -8px rgba(0,0,0,0.5);
        top: 0;
        #navigationCollapse {
            padding: 0;
        }
        .site-name {
            display: block;
            margin: 0;
            text-align: center;
            margin-bottom: 20px;
            font-weight: normal;
            font-size: 26px;
        }
        .close-navigation {
            padding: 10px;
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 10;
            display: block;
        }
        .collapse {
            display: block;
        }
        .navbar-nav {
            border-top: 1px solid #ccc;
        }
        li.nav-item {
            border-bottom: 1px solid #ccc;
            &.selected {
                a {
                    color: inherit;
                    border: 0;
                    font-weight: 400;
                }
            }
            a {
                font-weight: normal;
                border: 0;
            }
        }
     }

}
