.portlet-column-content {
    &.empty {
        padding: 0;
    }
}
.portlet-layout .portlet-header {
    margin-bottom: 0;
}
.portlet {
    margin-bottom: 0;
}

.yui3-dd-drop-active-valid {
    .portlet-column-content {
        border: 1px solid rgb(240, 240, 240);
        &.empty {
            padding: 10px;
        }
    }
}

.dialog-iframe-popup .lfr-form-content {
    position: relative;
}

.portlet-journal {
    .lfr-ddm-field-group {
        
    }
}