$selected-color: #0099a2 !default;
$nav-bottom-border-selected: 0 solid $selected-color !default;
$nav-bottom-border-hover: 0 solid $selected-color !default;
$separator-border-color: #ccc;
$banner-height: 400px;
$input-border-radius: 0px !default;

$hubroot-light-blue: #9eccd3 !default;
$hubroot-blue: #0099a2 !default;
$hubroot-grey: #616160 !default;
$hubroot-green: #307139 !default;
$gold:  #aa6c01 !default;
$box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12) !default;

$colors: (
    hbrt-light-blue: $hubroot-light-blue,
    hbrt-blue: $hubroot-blue,
    hbrt-grey: $hubroot-grey,
    hbrt-gold: $gold,
    hbrt-green: $hubroot-green
);
$btn-colors: (
    hbrt-light-blue: (back: $hubroot-light-blue, txt: #FFF),
    hbrt-blue: (back: $hubroot-blue, txt: #FFF),
    hbrt-grey: (back: $hubroot-grey, txt: #FFF),
    hbrt-gold: (back: $gold, txt: #FFF),
    hbrt-green: (back: $hubroot-green, txt: #FFF),
    hbrt-gold-green: (back: $hubroot-green, txt: $gold)
);
